h1 {
    color: whitesmoke;
    font-size: 50px;
}

input {
    color: black;
    font-size: 50px;
    background-color: white;
}

#enviar {
    background-color: green;
    padding: 14px;
    border-radius: 8px;
    border-color: whitesmoke;
    font-size: 25px;
}

#cancelar {
    background-color: red;
    padding: 14px;
    border-radius: 8px;
    border-color: whitesmoke;
    font-size: 25px;
}