body {
  margin: 0;
  width: 100%;
  height: 100%;

}

div {
  width: 100%;
  margin: auto;

  h1 {
    float: left;
    padding: 10px 0;
  }
  
  nav {
    float: left;
  
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

    }
  
    li {
      display: inline-block;
      margin-left: 70px;
      padding-top: 25px;
      position: relative;
    
    }
  
    a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 10px;
  
      :hover {
        color: black;
      }
  
      ::before{
        content: '';
        display: block;
        height: 5px;
        width: 100%;
        background-color: #444;
        position: absolute;
        top: 0;
        width: 0%;
        transition: all ease-in-out 250ms;
      }
  
      :hover::before{
        width: 100%;
      }
    }
  }
}

header {
  background-color: gray;
  
  ::after {

    content: '';
    display: table;
    clear: both;
  
  }

}



