body {

    background-image: url('https://image.api.playstation.com/vulcan/img/rnd/202011/0204/zbkvn7kvjjWEtRpMj3plrRH7.png');
    background-size:cover;

}

label {

    display: block;
    margin-top: 5px;

}

form {

    margin: 0 auto;
    text-align: center;

}

button {

    margin-top: 20px;

}

