@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); 

body {

color: #131313;
background-color: rgb(51, 62, 73);

}

h1 { 

color: white;
font-family: 'Roboto', Courier, monospace sans-serif;

}

img {

width: 400px;
height: 100%;
background-color: black;


}

.review-score {

color: white;
background-color: #e6bd09;
padding: 12px;

}

h2 {

color: steelblue;

}

p {

color: #bdbdbd;
font-family: 'Roboto', Courier, monospace sans-serif;

}

a {

color: yellow;

}