h1 {

    width: fit-content;
    border: 0;
    padding: 12px 12px;
    background-color: white;
    color: black;
    border-radius: 12px;
    transition-duration: 5s;  

}

h1:hover {

    background-color: black;
    color: blue;
    border-radius: 24px;

}

h1::first-letter {

    background-color: green;
    color: blueviolet;

}


a:focus {

    background-color: teal;
    transition-duration: 2s;

}

input:checked {

    transform: scale(10);

}

ul li:nth-child(2n+5) {

    color: blue;
    background-color: brown;
    width: fit-content;

}

input:disabled{

    border-radius: 1px;
    border-color: blue;
    transition-duration: 2s;

}

input:enabled{

    border-radius: 12px;
    transition-duration: 2s;
}

p::first-line{

    color: gray;

}

input:valid{

    background-color: black;

}

span:first-child{

    background-color: lawngreen;
    
}
