.card-component {

    background-color: #252525;
    width: calc(32% - 12px);
    border: 1px solid #303030;
    border-radius: 10px;
    overflow: hidden;
    transition: .2s ease-in-out;
    width: 50%;
    height: 150px;
    object-fit: cover;
    color: dimgray;

    &:hover {

        color: black;
        filter: brightness(100%);
        cursor: pointer;

    }

}