header {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    

}

.signin1 {

    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.loginsteps {

    display:flex ;
    margin-top:32px;
    justify-content: center;
    gap:8px;
    margin-bottom: 20px;
    

    
}

.selected {
    width: 28px;
    height: 28px;
    color:$primary-color;
    border:solid 1px $primary-color;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unselected {


    width: 28px;
    height: 28px;
    color:$light-color;
    border: solid 1px $light-color;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;


}    

.form-check {
    
   
    display:flex;
    gap:12px;
    justify-content: center;
    border: solid 1px $secondary-color;
    border-radius: 30px;
    padding: 12px 0 ;
    width: 50%;
  

    label{
        color:$primary-color;
        height:20px;
    }

}

.signin-password {

    color:$primary-color;

}

.signin-section{

    margin-top: 25px;
    display: flex;
    gap:12px;
    
}

.planos {

    border: $primary-color solid 1px;
    color:$primary-color;
    width:fit-content;
   


    h1
    { 
        color:$light-color
    }

    h2 {
        color:$secondary-color;

    }

    li{
        padding: 5px;

    }

}


.btn1{

    color:#bcbcbe;
    border: #bcbcbe solid 1px;
    border-radius: 30px;
    
    }
    
    button:hover {
    
    background-color: #bcbcbe;
    color: #31317c;
    
    }

.signin2 {
color:$primary-color;
}

.button-align {

display: flex;
align-items: center;
justify-content: center;



}
