.hidden {
    display: none !important;

}

.invisible {
    visibility: none;
    opacity: 0;
    position: relative;
    z-index: -99;


}

.fadeBlack {
    animation: fadeBlack .2s forwards;


}

body {
    scroll-behavior: smooth;


}


/* width */
::-webkit-scrollbar {
    width: 14px;


}
  
  /* Track */
::-webkit-scrollbar-track {
    background: $dark-color;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-color;

}

a.try {
    background: $secondary-gradient;
    border-radius: 45px;
    padding: 8px;
    border: none;
    margin-right: $gutter / 2;

    &:hover {
        background: $reverse-secondary-gradient;
    }

    i {
        padding: 12px 8px; 
        font-size: 16px;
        color: $light-color;
    }
}