body {
    min-height: 100vh;
    background: url('../../assets/body-gradient.png');
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

main.index-cover {
    padding-bottom: 100px;


}

header.index-header {
    width: 100%;
    transition: .1s ease-out;
    background-color: darken($dark-color, 100%);
    padding: 12px 0;
    
    .icon-index {

        i {
            font-size: 20px;
            color: darken($light-color, 15%);
            cursor: pointer;

            &:hover {
                color: lighten($light-color, 15%);
            }
        }
    }

    .index-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 12px 0;
    }

    img.logo {
        cursor: pointer;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .index-settings {
        display: flex;
        align-items: center;
        gap: $gutter;
    
        span {
            font-size: 14px;
            font-weight: 500;
            color: $light-color;
            cursor: pointer;

            &:hover {
                color: lighten($light-color, 15%);
            }
        }
    }
}

div.index-item-content {
    height: 100vh;
    background: url('/assets/index/initial-cover2.jpg');
    background-size: cover;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 10;
        background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(0,0,0,0) 100%);
    }

    & > * {
        z-index: 100;
    }

    .index-info {
        position: relative;
        top: 50%;
        text-align: center;
        height: 40vh;
        display: grid;
        align-items: center;
    }

    .index-title {
        font-weight: 300;
        color: #e3e3e4;
        font-size: 28px;
        line-height: 1.3;
    }

    .index-callout {
        font-weight: 600;
        color: #e3e3e4;
        font-size: 36px;
        line-height: 1.3;
    }

    .index-description {
        font-weight: 600;
        color: #e3e3e4;
        font-size: 14px;
        line-height: 1.3;
    }
}
main.carousel {

    padding-block: $gutter;
    position: relative;
    section {

        h2.index-title-carousel {
            color: $light-color;
            font-size: 24px;
            font-weight: 600;
            padding-block: $gutter * 3 $gutter;
            text-align: center;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            // overflow-x: scroll;
            gap: $gutter / 2;
            position: relative;

            li {
                cursor: pointer;
                transition: .2s;
                position: relative;

                .description {
                    display: none;
                    background-color: $dark-color;
                    color: $light-color;
                    padding: $gutter / 1.5 $gutter / 2 $gutter $gutter / 2;
                    position: absolute;
                    margin-top: -5px;
                    z-index: 99;
                    font-size: 12px;
                    gap: $gutter / 2;
                    border-radius: 0 0 10px 30px;

                    .actions {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 14px;

                        i {
                            padding: 10px;
                            background: $reverse-transparent;
                    
                            border-radius: 50%;
                            font-size: 16px;
                            transition: .3s;

                            &:first-child {
                                background: $secondary-gradient;

                                &:hover {
                                    
                                    background: $reverse-secondary-gradient;
                                }
                            }
                            
                            &:hover {
                                transform: scale(1.1);
                                background: $primary-color;
                            }

                        }
                        .left {
                            display: flex;
                            gap: $gutter / 2;
                        }

                    }
                    
                    .status {
                        display: flex;
                        justify-content: space-between;

                        p {
                            font-weight: 600;

                            &:first-child {
                                color: $secondary-color;
                            }   
                        }
                    }

                    .synopsis {
                        line-height: 1.3;
                    }
                }

                img {
                    max-width: 200px;
                    max-height: 300px;
                    
                }

                &:hover {
                    animation: scaleDelay .4s forwards;

                }

                &:hover .description {
                   
                    display: flex;
                    flex-direction: column;
                    z-index: 99;

                }


            }
         

        }

    }

    &.active::before {
        content: '';
        display: block;
        background-color: $transparent;
        backdrop-filter: blur(3px);
        position: absolute;
        z-index: 100;
        width: 200%;
        left: -50%;
        height: 100%;

    }

}