body {
    min-height: 100vh;
    background: url('../../assets/body-gradient.png');
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    
}

header.fixed  {
    position: relative;
    padding-top: 28px; 
    z-index: 101;
    width: 100%;
    transition: .1s ease-out;

    &:hover {
        background-color: darken($dark-color, 100%);

    }

    &.movement {
        background-color: $transparent;

        &:hover{
            background-color: darken($dark-color, 100%)
        }

    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
    }

    a.img-logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%);  

    }

}

section {
    padding: 80px;
    
}

.form {
    gap: 10px;
    display: flex;
    align-items: center;
    /* text-align: center; */
    flex-direction: column;
    /* width: 70%; */
    height: 70%;
    font-size: 14px;
    font-weight: 500;
    color: #e3e3e4;
    cursor: pointer;

    &:hover {
        color: lighten($light-color, 15%);
    }
    .sign {
        font-weight: 600;
        color: #e3e3e4;
        font-size: 28px;
        line-height: 1.3;
        }
    }

    .btn {
    background: $secondary-gradient;
    border-radius: 45px;
    padding: 8px;
    border: none;
    margin-right: $gutter / 2;

    &:hover {
        background: $reverse-secondary-gradient;
    }

    i {
        padding: 12px 8px; 
        font-size: 16px;
        color: $light-color;
    }

}

section.login-cover {
    height: 60vh;
    background-size: cover;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(0,0,0,0) 100%);

    }

    & > * {
        z-index: 100;
    }
    
}