.header-sing-in {
  display: flex;
  justify-content: center;
  img {
    width: 129px;
    height: 39px;
    margin: 10px;
  }
}

.select-plan {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 30px;
  margin: 0px 180px;
  height: 90px;
  background-color: #28067752;
  border-radius: 10px;
  color: white;
  .select-plan-text {
    padding-right: 200px;
    h3 {
      font-size: 20px;
      font-weight: 600;
    }
    p {
      padding-top: 15px;
      font-size: 13px;
    }
  }
  .select-plan-price {
    display: flex;
    a {
      padding-left: 20px;
      font-weight: 500;
      text-decoration: none;
      color: #9c7ff1;
      &:hover {
        color: #9b7ff167;
      }
    }
    p {
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.page-icon {
  display: flex;
  position: relative;
  justify-content: center;
  top: 60px;
  ol {
    display: flex;
    li {
      margin: 0px 20px;

      a {
        text-decoration: none;
        color: white;
        font-size: 12px;
        border-style: solid;
        border-radius: 50%;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;

        &:hover {
          color: rgba(255, 255, 255, 0.637);
        }
      }
    }
  }
}

.page-title {
  text-align: center;
  position: relative;
  top: 80px;
  color: white;
  h1 {
    font-size: 30px;
    font-weight: 100;
  }
  p {
    padding-top: 16px;
    font-size: 15px;
    font-weight: 0;
  }
}

.page-card {
  display: flex;
  position: relative;
  justify-content: center;
  top: 100px;
  ul {
    display: flex;
    position: relative;
    justify-content: center;
    li {
      img {
        margin: 0px 5px;
        width: 35px;
        height: 25px;
        border-radius: 3px;
        object-fit: cover;
      }
    }
  }
}

.page-form {
  position: relative;
  display: flex;
  justify-content: center;
  top: 120px;
  form {
    input {
      margin: 20px 0px;
      padding-bottom: 6px;
      display: block;
      color: white;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.61);
      background: none;
      outline: none;
      &::placeholder {
        color: rgba(255, 255, 255, 0.61);
      }
    }

    .bigger-input {
      width: 650px;
    }

    .form-little {
      display: flex;
      margin: 0;
      .smaller-input1 {
        width: 300px;
        margin-right: 25px;
      }
      .smaller-input2 {
        width: 300px;
        margin-left: 25px;
      }
    }
  }
}

.page-text {
  position: relative;
  top: 120px;
  margin: 0px 350px;
  p {
    text-align: center;
    color: rgba(255, 255, 255, 0.61);
    font-size: 11px;
    line-height: 1.2;
  }
}

.page-button {
  position: relative;
  display: flex;
  justify-content: center;
  top: 120px;
  button {
    background-color: #7b2abf;
    padding: 10px 20px;
    border-radius: 40px;
    box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.459);
    margin: 30px;
    &:hover {
      background-color: #7c2abfa6;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}
