* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {

    /* min-height: 100vh; */
    width: 100vw;
    height: 100vh;

}

section {

    height: max-content;

}

body section {

    background-color: blue;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas: 
    'section section'
}

header {

    position: sticky;
    top: 0;
    background-color: steelblue;

}

img {

    width: 100vw;
    height: 100vh;
}

header nav ul {

    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: rgba(55, 55, 87, 0.466);

}

a {

    color: black;

}

/* section:nth-child(2) {

    background-color:teal;
    width: 200vw;
    height: calc(100vh - 58px);
    background-color: tomato;
} */




/*   
  @media (max-width: 768px){
    .box {
    width: 100%;
    background-color: violet;
    }
  
  @media (max-width: 450px){
    .box {
     width: 100%;
     background-color: tomato;
      }
    
   */