* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-menu {
    width: 100%;
    background-color: crimson;
    z-index: 50;
    top: 0;
    position: fixed;
    padding: 30px;
}

header ul {
    text-align: center;
}

header ul li {
    display: inline;
    padding: 20px;
    text-align: center;
}

header ul li a {
    text-decoration: none;
    color: white;
}

main img {
    width: 400px;
    height: 400px;
    margin-top: 40px;
}

.imagem1 {
    margin-top: 70px;
}

main div {
    margin-left: 25px;
}

.botao {
    display: inline-block;
    margin: 10px;
    font-size: 22px;
    background-color: tomato;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 15px;
}

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
}