.main-menu {
    width: 600px;
    height: 1100px;
    background-color: crimson;
    z-index: 50;
    top: 0;
    padding: 30px;
    
}

.foto {

    width: 60px;
    height: 60px;

}

body {

    background-color: lightsalmon;

}

label {

    display: block;

}

form {

    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
}

button {

    margin-top: 20px;

}

fieldset {

    color: rgb(0, 0, 0);
    border: outset;
    text-align: left;

}

.produto {

    padding: 5px;
    display: inline;

}

.fora {

    padding: 5px;
    display: inline;

}
