@keyframes appearField {
    from {
        opacity: 0;
        display: none;
        
    }

    to {
        opacity: 1;
       
    }

    
}

@keyframes fadeBlack {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        background-color: $dark-color;
        
    }
    
}

@keyframes scaleDelay {
    to {
        transform: scale(1.3);
        z-index: 99;
    }


}

@keyframes showDelay {
    from {
        display: none;
    }
    to {
        display: flex;
                    flex-direction: column;
                    z-index: 99;
    }
}