h1 {
    color: rgb(68, 0, 255);
    text-align: center;   
}

h2 {
    color: red;
    text-align: left;
    height: 100px;
    padding-top: 50px;
}

h3 {
    color: rgb(202, 223, 247);
    text-align: center;
}

p {
    color: rgb(202, 223, 247);
    width: auto;
    align-items: center;
    text-align: center;
}

.primeiroComponente {
    width: 2500px;
    height: 20px;
    float: right;
}

.retangulo {
    background-color: rgb(124, 111, 111);
    width: auto;
    height: 20px;
    text-align: center;
    border-radius: 30%;
}

.button {
    width: auto;
    text-align: left;
    float: right;
}

div {
    width: auto;
    text-align: right;
}

img {
    width: auto;
    color: red;
}

li {
    padding-left: 10px;
}

.segundoComponente {
    padding-top: 50px;
    width: 100px;
    height: max-content;
    position: relative;
    left: 15%;
    display: flex;
}

.card {
    width: auto;
    text-align: left;
    float: right;
}

.quadrado {
    background-color: rgb(124, 111, 111);
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 10%;
}

.sino {
    width: auto;
    height: auto;
    text-align: center;
    float: right; 
    padding-bottom: 80px;
}